@charset "UTF-8";

.container-md{
	background-color: #99CC66;
}

.card-body{
	background-color: #FFFFCC;
}

.card-footer{
	background-color: #DCDCDC;
}

header,
footer{
    background-color: rgb(117, 183, 152);}
}